<div class="text-center", style="background-color:blue">
<div class="bordered-div" style="color: black;">
<h1>Welcome to Online Banking App <%= @user.email %>! </h1>

<p> <strong> Welome to our online banking app where you will be facilitate with <br>amazing services, 
like you will going to have many banks in one application where you can create and use your account in different banks
<br> First you will have to <br>sign up for the application which will be approved by administration, 
then you will be able to access user's dashboard and you can create account <br> each for par bank and everything will
be on your dashboard. You can also get amazed with transaction feature where you can send money 
to your desired receiver. </strong></p>
 </div>
 </div>