<div style="padding: 22px">
<h1>Admin Dashboard</h1>
<br>
<div>
  <h2>Users Awaiting Approval</h2>
  <% @users.each do |user| %>
    <% unless user.admin? %>
    <a href="<%= user_path(user) %>"> 
     <strong> <%= user.first_name %> </strong> <br>
     </a>
     <p> <%= user.email %></p>
    <% end %>
  <% end %>
</div>
</div>





