<div class="moving-text" style="padding: 22px">
<div class="text-center p-3"> 
  <h1 class="bordered-div" style="color: black">List of all Banks</h1> </div>
  <div>
      <ul>
        <% @banks.each do |bank| %>
          <li><h3> 
          <a href="<%= bank_path(bank) %>"style="text-decoration:none; color:blue">
          <%= bank.bank_name %>
          </a>
           </h3></li>
        <% end %>
      </ul>
     <%= link_to 'Back', root_path, class: 'btn btn-secondary' %> </p>
    </div>

</div>





