<div style="padding: 22px">
<div class="alert alert-info" role="alert">
  <h1>Welcome to KoksalBanking App (All banks in one app)</h1>
  <p> Manage your finances with ease </p>
  <% @banks.each do |bank| %>
  <br>
  <a href="<%= bank_path(bank) %>" style=" text-decoration: none;">
    <h2><%= bank.bank_name  %></h2>

 
<% end %>
</div>
</div>




