<div class="moving-text" style="padding: 22px">
<div class="text-center p-3"> 
  <h1 class="bordered-div" style="color: blue">List of all Banks</h1> </div>
  <% @banks.each do |bank| %>
  <br>
  <a href="<%= bank_path(bank) %>" style=" text-decoration: none; color:blue">
    <h3 style="padding: 5px"><strong><%= bank.bank_name  %></strong></h3>

 
<% end %>
</div>





