<div class="moving-text" style= "padding: 13px;">
<div class="text-center p-3"> 

<h1 class="bordered-div" style="color: blue">Edit Profile</h1> </div>
<%= render 'userform' %>
<br>

<% if current_user.admin? && @user != current_user %>
  <%= link_to 'Delete User', user_path(@user), data: { turbo_method: :delete, turbo_confirm: 'Are you sure' }, class: 'btn btn-danger' %>
<% end %>

</div>

