<h1>User Home Page</h1>

<% @users.each do |user| %>
  <div>
    <a href="<%= user_path(user) %>">
      <strong><%= user.first_name %> <%= user.last_name %></strong>
    </a>
    <p><%= user.email %></p>
  </div>
<% end %>