<div style="padding: 22px">
<h1>User Home Page</h1>

<% @users.each do |user| %>
  <div>
    <a href="<%= user_path(user) %>">
      <strong><%= current_user.first_name %> <%= current_user.last_name %></strong>
    </a>
    <p><%= user.email %></p>
  </div>
<% end %>
</div>