<footer class=" text-center text-lg-start fixed-bottom">
 
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); color: white;">
   All right reserved to Copyright © 2023. 
    <a class="text-light" href="<%= root_path %>">support@koksalbanking.com</a>
  </div>
 
</footer>
