@import "bootstrap";
@keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .landing-page {
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  .moving-text {
    animation: slideIn 1s ease-in-out;
    padding: 10px;
    color: #333;
  }
  
  .btn {
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
  }
  
  .btn-secondary {
    background-color: #6c757d;
  }
  body {
    background-image: url("newcover.jpg");
    background-size: cover; 
    background-attachment: fixed;
  }
  .bordered-div {
    border: 1px solid black; 
    padding: 10px;
  }
  .nav-link {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-decoration: none; 
  }
  body {
    font-family: sans-serif;
    font-size: 16px;
    color: #333; 
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-weight: normal; 
    text-transform: none;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
  .balance-cell {
    filter: blur(3px);
    transition: filter 0.5s;
  }
  .balance-cell:hover {
    filter: none;
  }