<div class="moving-text" style="padding: 22px; color: black">
<div class="text-center p-3">
<h1 class="bordered-div" style="color: black">New Transaction</h1> </div>

<%= render 'transactionform' %>
<br>


</div>

<script>
    $("#transaction_bank_id").click(function() {

      const receiverSelect = $('#transaction_receiver_id');
      const selectedBankId = $(this).val();
      $.ajax({
        url: '/get_users_by_bank',
        data: { bank_id: selectedBankId },
        dataType: 'json',
        success: function(data) {
          receiverSelect.empty();
          receiverSelect.append($('<option>').val('').text('Select Receiver'));

          data.forEach(function(account) {
            const accountId = account[0];
            const accountNo = account[1];
            const optionText = `(${accountNo})`;
            const option = $('<option>').val(accountId).text(optionText);
            receiverSelect.append(option);
          });
        },
        error: function() {
          receiverSelect.empty();
          receiverSelect.append($('<option>').val('').text('Select Receiver'));
        }
      });
    });
</script>