<div style='padding: 22px'>
<div class="alert alert-info" role="alert">
<h1>New Transaction</h1>

<%= render 'transactionform' %>
<br>

<%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
</div>
</div>