<div style="padding: 22px">
  <div class="bordered-div" style="color: black"> 
    <div class="text-center p-3">
      <h1 class="bordered-div" style="color: blue">Transaction Details</h1>
    </div>
    <br>
    <div>
    <p><strong>Transaction Type:</strong> <%= @transaction.transaction_type %></p>
    <p><strong>Amount:</strong> <%= @transaction.amount %></p>
    <p><strong>Account Number:</strong> <%= @transaction.account.account_no %></p>
  </div>
    <br>
    <%= link_to 'Back', transactions_path, class: 'btn btn-secondary' %>
  </div>
</div>
