<div style="padding: 22px">
<h1>Your Account</h1>
<% if @accounts.any? %>
    <% @accounts.each do |account| %>
     <br>
      <li>
      <strong>Bank Name:</strong> <%= account.bank.bank_name %>
      <br> 
         <a href="<%= bank_account_path(account.bank, account)%>">
        <strong>Account Number: </strong> <%= account.account_no%> 
        </a>
        <br>
      </li>
      <br>
      <%= link_to 'Back', bank_path(account.bank), class: 'btn btn-secondary' %>
    <% end %>
<% else %>
  <p>No accounts found.</p>
<% end %>

</div>