<div style="padding: 22px ">
<div class="alert alert-info" role="alert">
<h1>Create New Account</h1>

<%= render 'accountform' %>
<br>

<%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
</div>
</div>